val_result_fold0_resnet.npz
val_result_fold0_unet_trans.npz
val_result_fold0_vit(C_lr).npz
val_result_fold0_vit(CNN_lr).npz
val_result_fold0_vit(LMF).npz
val_result_fold0_vit(SEASON).npz
val_result_fold0_vit(SEASON2).npz
val_result_fold0_vit(test).npz
val_result_fold0.npz
val_result_fold1_vit(ML).npz
transformer_fold0.pth
transformer_fold1.pth
transformer_fold2.pth
transformer_fold3.pth
transformer_fold4.pth
val_result_fold0.npz
pred.tif
sample_generation.sh
slurm-2023867.out
slurm-2030019.out
slurm-2030020.out
slurm-2030060.out
slurm-2030066.out
slurm-2030074.out
slurm-2030076.out
stats_landsat.npz
stats_modis_A.npz
stats_modis_Q.npz
stats.npz
test_result_fold0_resnet.npz
test_result_fold0_unet_trans.npz
train_result_fold0_vit(SEASON2).npz
train.sh
transformer_fold0_resnet.pth
transformer_fold0_unet_trans.pth
transformer_fold0_vit(C_lr).pth
transformer_fold0_vit(CNN_lr).pth
transformer_fold0_vit(test).pth
transformer_fold0.pth
transformer_fold1.pth
transformer_fold2.pth
transformer_fold3.pth
transformer_fold4.pth
val_result_fold0.npz
checkpoint_fold0_vit(LMF).pth
checkpoint_fold0_vit(SEASON).pth
checkpoint_fold0_vit(SEASON2).pth
checkpoint_fold1_vit(ML).pth
label.tif
metric_plot_doy_patch.png
metric_plot_fold0_resnet.png
metric_plot_fold0_unet_trans.png
metric_plot_fold0_vit.png
metric_plot_fold0_vit(C_lr).png
metric_plot_fold0_vit(LMF).png
metric_plot_fold0_vit(ML).png
metric_plot_fold0_vit(MS).png
metric_plot_fold0.png
metric_plot_fold1.png
metric_plot_fold2.png
metric_plot_fold3.png
metric_plot_fold4.png
metric_plot_lr: warm_up.png
metric_plot_lr:1e-6.png
metric_plot_mask_bs_2.png
metric_plot_STViT.png
metric_plot_vit(C_lr).png
metric_plot_vit(CNN_lr).png
metric_plot_vit(L).png
metric_plot_vit(R).png
metric_plot_vit(S).png
metric_plot_vit(test).png
metric_plot.png
metrics_fold0_resnet.pkl
metrics_fold0_unet_trans.pkl
metrics_fold0_vit(C_lr).pkl
metrics_fold0_vit(LMF).pkl
metrics_fold0_vit(test).pkl
metrics_fold0.pkl
metrics_fold1.pkl
metrics_fold2.pkl
metrics_fold3.pkl
metrics_fold4.pkl
metrics.pkl
mosaic.sh
pred.tif
sample_generation.sh
slurm-2023867.out
slurm-2030019.out
slurm-2030020.out
slurm-2030060.out
slurm-2030066.out
slurm-2030074.out
slurm-2030076.out
stats.npz
train.sh
transformer_fold0.pth
transformer_fold1.pth
transformer_fold2.pth
transformer_fold3.pth
transformer_fold4.pth
val_result_fold0.npz
__pycache__/ResNet.cpython-312.pyc
__pycache__/samples_generation_Landsat.cpython-312.pyc
__pycache__/SpatioTemporalViT.cpython-312.pyc
__pycache__/STViT.cpython-312.pyc
__pycache__/UNet.cpython-312.pyc
Backbone/__pycache__/ResNet.cpython-312.pyc
Backbone/__pycache__/SpatioTemporalViT.cpython-312.pyc
Backbone/__pycache__/STViT.cpython-312.pyc
Backbone/__pycache__/SwinTransformer.cpython-312.pyc
Backbone/__pycache__/UNet.cpython-312.pyc
Backbone/__pycache__/ViT_SkipConnection.cpython-312.pyc
Backbone/__pycache__/ResNet.cpython-312.pyc
Backbone/__pycache__/SpatioTemporalViT.cpython-312.pyc
Backbone/__pycache__/STViT.cpython-312.pyc
Backbone/__pycache__/SwinTransformer.cpython-312.pyc
Backbone/__pycache__/UNet.cpython-312.pyc
Backbone/__pycache__/ViT_SkipConnection.cpython-312.pyc
FunctionalCode/__pycache__/CommonFuncs.cpython-312.pyc
FunctionalCode/__pycache__/GlobalStats.cpython-312.pyc
FunctionalCode/__pycache__/StatsPlotFuncs.cpython-312.pyc
FunctionalCode/__pycache__/CommonFuncs.cpython-312.pyc
FunctionalCode/__pycache__/GlobalStats.cpython-312.pyc
FunctionalCode/__pycache__/StatsPlotFuncs.cpython-312.pyc
logs/prediction_20250603_vit(test)_2084168.out
logs/prediction_20250604_vit(L)_2100379.out
logs/prediction_20250604_vit(test)_2084796.out
logs/training_20250508_resnet_2035690.out
logs/training_20250509_psnr_2038063.out
logs/training_20250509_psnrloss_2036659.out
logs/training_20250509_psnrlossratio_2036700.out
logs/training_20250510_Upsample_2039209.out
logs/training_20250511_SkipConnection_2039719.out
logs/training_20250511_SkipConnection_2039764.out
logs/training_20250512_vit_2041182.out
logs/training_20250513_unet_2042179.out
logs/training_20250513_unet_trans_2042650.out
logs/training_20250514_unet_trans_2043817.out
logs/training_20250531_vit(L)_2079240.out
logs/training_20250531_vit(S)_2079523.out
logs/training_20250601_vit(R)_2080448.out
logs/training_20250602_vit(C)_2081973.out
logs/training_20250603_vit(C_lr)_2083168.out
logs/training_20250603_vit(CNN_lr)_2083462.out
logs/training_20250603_vit(test)_2083387.out
logs/training_20250611_vit(ML)_2127144.out
logs/training_20250611_vit(MS)_2127138.out
logs/training_20250612_vit(DWF)_2128212.out
logs/training_20250616_vit(CA)_2132245.out
logs/training_20250617_vit(CA)_2134049.out
logs/training_20250617_vit(CALr)_2134290.out
logs/training_20250618_vit(CAL)_2135057.out
logs/training_20250618_vit(LMF)_2144296.out
logs/training_20250620_vit(LMF)_2148206.out
logs/training_20250623_vit(Season)_2158779.out
logs/training_20250624_vit(Season2)_2160629.out
logs/training_20250625_vit(Season3)_2163106.out
logs/prediction_20250603_vit(test)_2084168.out
logs/prediction_20250604_vit(L)_2100379.out
logs/prediction_20250604_vit(test)_2084796.out
logs/training_20250508_resnet_2035690.out
logs/training_20250509_psnr_2038063.out
logs/training_20250509_psnrloss_2036659.out
logs/training_20250509_psnrlossratio_2036700.out
logs/training_20250510_Upsample_2039209.out
logs/training_20250511_SkipConnection_2039719.out
logs/training_20250511_SkipConnection_2039764.out
logs/training_20250512_vit_2041182.out
logs/training_20250513_unet_2042179.out
logs/training_20250513_unet_trans_2042650.out
logs/training_20250514_unet_trans_2043817.out
logs/training_20250531_vit(L)_2079240.out
logs/training_20250531_vit(S)_2079523.out
logs/training_20250601_vit(R)_2080448.out
logs/training_20250602_vit(C)_2081973.out
logs/training_20250603_vit(C_lr)_2083168.out
logs/training_20250603_vit(CNN_lr)_2083462.out
logs/training_20250603_vit(test)_2083387.out
logs/training_20250611_vit(ML)_2127144.out
logs/training_20250611_vit(MS)_2127138.out
logs/training_20250612_vit(DWF)_2128212.out
logs/training_20250616_vit(CA)_2132245.out
logs/training_20250617_vit(CA)_2134049.out
logs/training_20250617_vit(CALr)_2134290.out
logs/training_20250618_vit(CAL)_2135057.out
logs/training_20250618_vit(LMF)_2144296.out
logs/training_20250620_vit(LMF)_2148206.out
logs/training_20250623_vit(Season)_2158779.out
logs/training_20250624_vit(Season2)_2160629.out
logs/training_20250625_vit(Season3)_2163106.out
__pycache__/samples_generation_Landsat.cpython-312.pyc
__pycache__/SpatioTemporalViT.cpython-312.pyc
__pycache__/STViT.cpython-312.pyc
FunctionalCode/__pycache__/CommonFuncs.cpython-312.pyc
FunctionalCode/__pycache__/GlobalStats.cpython-312.pyc
FunctionalCode/__pycache__/StatsPlotFuncs.cpython-312.pyc
FunctionalCode/__pycache__/CommonFuncs.cpython-312.pyc
FunctionalCode/__pycache__/GlobalStats.cpython-312.pyc
FunctionalCode/__pycache__/StatsPlotFuncs.cpython-312.pyc
metric_plot_doy_patch.png
metric_plot_fold0.png
metric_plot_fold1.png
metric_plot_fold2.png
metric_plot_fold3.png
metric_plot_fold4.png
metric_plot_lr: warm_up.png
metric_plot_lr:1e-6.png
metric_plot_mask_bs_2.png
metric_plot_STViT.png
metric_plot.png
metrics_fold0.pkl
metrics_fold1.pkl
metrics_fold2.pkl
metrics_fold3.pkl
metrics_fold4.pkl
metrics.pkl
mosaic.sh
pred.tif
sample_generation.sh
slurm-2023867.out
slurm-2030019.out
slurm-2030020.out
slurm-2030060.out
slurm-2030066.out
slurm-2030074.out
slurm-2030076.out
stats.npz
train.sh
transformer_fold0.pth
transformer_fold1.pth
transformer_fold2.pth
transformer_fold3.pth
transformer_fold4.pth
val_result_fold0.npz
label.tif
metric_plot_doy_patch.png
metric_plot_fold0.png
metric_plot_fold1.png
metric_plot_fold2.png
metric_plot_fold3.png
metric_plot_fold4.png
metric_plot_lr: warm_up.png
metric_plot_lr:1e-6.png
metric_plot_mask_bs_2.png
metric_plot_STViT.png
metric_plot.png
metrics_fold0.pkl
metrics_fold1.pkl
metrics_fold2.pkl
metrics_fold3.pkl
metrics_fold4.pkl
metrics.pkl
mosaic.sh
pred.tif
sample_generation.sh
slurm-2023867.out
slurm-2030019.out
slurm-2030020.out
slurm-2030060.out
slurm-2030066.out
slurm-2030074.out
slurm-2030076.out
stats.npz
train.sh
transformer_fold0.pth
transformer_fold1.pth
transformer_fold2.pth
transformer_fold3.pth
transformer_fold4.pth
val_result_fold0.npz
label.tif
metric_plot_doy_patch.png
metric_plot_fold0.png
metric_plot_fold1.png
metric_plot_fold2.png
metric_plot_fold3.png
metric_plot_fold4.png
metric_plot_lr: warm_up.png
metric_plot_lr:1e-6.png
metric_plot_mask_bs_2.png
metric_plot_STViT.png
metric_plot.png
metrics_fold0.pkl
metrics_fold1.pkl
metrics_fold2.pkl
metrics_fold3.pkl
metrics_fold4.pkl
metrics.pkl
mosaic.sh
pred.tif
sample_generation.sh
slurm-2023867.out
slurm-2030019.out
slurm-2030020.out
slurm-2030060.out
slurm-2030066.out
slurm-2030074.out
slurm-2030076.out
train.sh
train.sh
logs/prediction_2011297.out
logs/prediction_2017210.out
logs/training_1962019_lr1e-4_adam.out
logs/training_1962356.out
logs/training_1963450.out
logs/training_1963515.out
logs/training_1963749.out
logs/training_1964314.out
logs/training_1964849.out
logs/training_1964858.out
logs/training_1965004.out
logs/training_1965045.out
logs/training_1965079.out
logs/training_1965646.out
logs/training_1965870.out
logs/training_1966391_STViT.out
logs/training_1966977_SPViT_Scheduler.out
logs/training_1967550.out
logs/training_1969706.out
logs/training_1972960.out
logs/training_1978726.out
logs/training_1982171.out
logs/training_1990278.out
logs/training_1990478.out
logs/training_1991256.out
logs/training_1991426.out
logs/training_20250501_newdecoder_2021688.out
logs/training_20250502_newdecoder_2023131.out
__pycache__/CommonFuncs.cpython-312.pyc
__pycache__/GlobalStats.cpython-312.pyc
__pycache__/samples_generation.cpython-312.pyc
__pycache__/transformer.cpython-312.pyc
