val_result_fold0_resnet.npz
val_result_fold0_unet_trans.npz
val_result_fold0_vit(C_lr).npz
val_result_fold0_vit(CNN_lr).npz
val_result_fold0_vit(LMF).npz
val_result_fold0_vit(SEASON).npz
val_result_fold0_vit(SEASON2).npz
val_result_fold0_vit(test).npz
val_result_fold0.npz
val_result_fold1_vit(ML).npz
transformer_fold0.pth
transformer_fold1.pth
transformer_fold2.pth
transformer_fold3.pth
transformer_fold4.pth
val_result_fold0.npz
pred.tif
sample_generation.sh
slurm-2023867.out
slurm-2030019.out
slurm-2030020.out
slurm-2030060.out
slurm-2030066.out
slurm-2030074.out
slurm-2030076.out
stats_landsat.npz
stats_modis_A.npz
stats_modis_Q.npz
stats.npz
test_result_fold0_resnet.npz
test_result_fold0_unet_trans.npz
train_result_fold0_vit(SEASON2).npz
train.sh
transformer_fold0_resnet.pth
transformer_fold0_unet_trans.pth
transformer_fold0_vit(C_lr).pth
transformer_fold0_vit(CNN_lr).pth
transformer_fold0_vit(test).pth
transformer_fold0.pth
transformer_fold1.pth
transformer_fold2.pth
transformer_fold3.pth
transformer_fold4.pth
val_result_fold0.npz
checkpoint_fold0_vit(LMF).pth
checkpoint_fold0_vit(SEASON).pth
checkpoint_fold0_vit(SEASON2).pth
checkpoint_fold1_vit(ML).pth
label.tif
metric_plot_doy_patch.png
metric_plot_fold0_resnet.png
metric_plot_fold0_unet_trans.png
metric_plot_fold0_vit.png
metric_plot_fold0_vit(C_lr).png
metric_plot_fold0_vit(LMF).png
metric_plot_fold0_vit(ML).png
metric_plot_fold0_vit(MS).png
metric_plot_fold0.png
metric_plot_fold1.png
metric_plot_fold2.png
metric_plot_fold3.png
metric_plot_fold4.png
metric_plot_lr: warm_up.png
metric_plot_lr:1e-6.png
metric_plot_mask_bs_2.png
metric_plot_STViT.png
metric_plot_vit(C_lr).png
metric_plot_vit(CNN_lr).png
metric_plot_vit(L).png
metric_plot_vit(R).png
metric_plot_vit(S).png
metric_plot_vit(test).png
metric_plot.png
metrics_fold0_resnet.pkl
metrics_fold0_unet_trans.pkl
metrics_fold0_vit(C_lr).pkl
metrics_fold0_vit(LMF).pkl
metrics_fold0_vit(test).pkl
metrics_fold0.pkl
metrics_fold1.pkl
metrics_fold2.pkl
metrics_fold3.pkl
metrics_fold4.pkl
metrics.pkl
mosaic.sh
pred.tif
sample_generation.sh
slurm-2023867.out
slurm-2030019.out
slurm-2030020.out
slurm-2030060.out
slurm-2030066.out
slurm-2030074.out
slurm-2030076.out
stats.npz
train.sh
transformer_fold0.pth
transformer_fold1.pth
transformer_fold2.pth
transformer_fold3.pth
transformer_fold4.pth
val_result_fold0.npz
__pycache__/ResNet.cpython-312.pyc
__pycache__/samples_generation_Landsat.cpython-312.pyc
__pycache__/SpatioTemporalViT.cpython-312.pyc
__pycache__/STViT.cpython-312.pyc
__pycache__/UNet.cpython-312.pyc
Backbone/__pycache__/ResNet.cpython-312.pyc
Backbone/__pycache__/SpatioTemporalViT.cpython-312.pyc
Backbone/__pycache__/STViT.cpython-312.pyc
Backbone/__pycache__/SwinTransformer.cpython-312.pyc
Backbone/__pycache__/UNet.cpython-312.pyc
Backbone/__pycache__/ViT_SkipConnection.cpython-312.pyc
Backbone/__pycache__/ResNet.cpython-312.pyc
Backbone/__pycache__/SpatioTemporalViT.cpython-312.pyc
Backbone/__pycache__/STViT.cpython-312.pyc
Backbone/__pycache__/SwinTransformer.cpython-312.pyc
Backbone/__pycache__/UNet.cpython-312.pyc
Backbone/__pycache__/ViT_SkipConnection.cpython-312.pyc
FunctionalCode/__pycache__/CommonFuncs.cpython-312.pyc
FunctionalCode/__pycache__/GlobalStats.cpython-312.pyc
FunctionalCode/__pycache__/StatsPlotFuncs.cpython-312.pyc
FunctionalCode/__pycache__/CommonFuncs.cpython-312.pyc
FunctionalCode/__pycache__/GlobalStats.cpython-312.pyc
FunctionalCode/__pycache__/StatsPlotFuncs.cpython-312.pyc
logs/prediction_20250603_vit(test)_2084168.out
logs/prediction_20250604_vit(L)_2100379.out
logs/prediction_20250604_vit(test)_2084796.out
logs/training_20250508_resnet_2035690.out
logs/training_20250509_psnr_2038063.out
logs/training_20250509_psnrloss_2036659.out
logs/training_20250509_psnrlossratio_2036700.out
logs/training_20250510_Upsample_2039209.out
logs/training_20250511_SkipConnection_2039719.out
logs/training_20250511_SkipConnection_2039764.out
logs/training_20250512_vit_2041182.out
logs/training_20250513_unet_2042179.out
logs/training_20250513_unet_trans_2042650.out
logs/training_20250514_unet_trans_2043817.out
logs/training_20250531_vit(L)_2079240.out
logs/training_20250531_vit(S)_2079523.out
logs/training_20250601_vit(R)_2080448.out
logs/training_20250602_vit(C)_2081973.out
logs/training_20250603_vit(C_lr)_2083168.out
logs/training_20250603_vit(CNN_lr)_2083462.out
logs/training_20250603_vit(test)_2083387.out
logs/training_20250611_vit(ML)_2127144.out
logs/training_20250611_vit(MS)_2127138.out
logs/training_20250612_vit(DWF)_2128212.out
logs/training_20250616_vit(CA)_2132245.out
logs/training_20250617_vit(CA)_2134049.out
logs/training_20250617_vit(CALr)_2134290.out
logs/training_20250618_vit(CAL)_2135057.out
logs/training_20250618_vit(LMF)_2144296.out
logs/training_20250620_vit(LMF)_2148206.out
logs/training_20250623_vit(Season)_2158779.out
logs/training_20250624_vit(Season2)_2160629.out
logs/training_20250625_vit(Season3)_2163106.out
logs/prediction_20250603_vit(test)_2084168.out
logs/prediction_20250604_vit(L)_2100379.out
logs/prediction_20250604_vit(test)_2084796.out
logs/training_20250508_resnet_2035690.out
logs/training_20250509_psnr_2038063.out
logs/training_20250509_psnrloss_2036659.out
logs/training_20250509_psnrlossratio_2036700.out
logs/training_20250510_Upsample_2039209.out
logs/training_20250511_SkipConnection_2039719.out
logs/training_20250511_SkipConnection_2039764.out
logs/training_20250512_vit_2041182.out
logs/training_20250513_unet_2042179.out
logs/training_20250513_unet_trans_2042650.out
logs/training_20250514_unet_trans_2043817.out
logs/training_20250531_vit(L)_2079240.out
logs/training_20250531_vit(S)_2079523.out
logs/training_20250601_vit(R)_2080448.out
logs/training_20250602_vit(C)_2081973.out
logs/training_20250603_vit(C_lr)_2083168.out
logs/training_20250603_vit(CNN_lr)_2083462.out
logs/training_20250603_vit(test)_2083387.out
logs/training_20250611_vit(ML)_2127144.out
logs/training_20250611_vit(MS)_2127138.out
logs/training_20250612_vit(DWF)_2128212.out
logs/training_20250616_vit(CA)_2132245.out
logs/training_20250617_vit(CA)_2134049.out
logs/training_20250617_vit(CALr)_2134290.out
logs/training_20250618_vit(CAL)_2135057.out
logs/training_20250618_vit(LMF)_2144296.out
logs/training_20250620_vit(LMF)_2148206.out
logs/training_20250623_vit(Season)_2158779.out
logs/training_20250624_vit(Season2)_2160629.out
logs/training_20250625_vit(Season3)_2163106.out
__pycache__/samples_generation_Landsat.cpython-312.pyc
__pycache__/SpatioTemporalViT.cpython-312.pyc
__pycache__/STViT.cpython-312.pyc
FunctionalCode/__pycache__/CommonFuncs.cpython-312.pyc
FunctionalCode/__pycache__/GlobalStats.cpython-312.pyc
FunctionalCode/__pycache__/StatsPlotFuncs.cpython-312.pyc
FunctionalCode/__pycache__/CommonFuncs.cpython-312.pyc
FunctionalCode/__pycache__/GlobalStats.cpython-312.pyc
FunctionalCode/__pycache__/StatsPlotFuncs.cpython-312.pyc
metric_plot_doy_patch.png
metric_plot_fold0.png
metric_plot_fold1.png
metric_plot_fold2.png
metric_plot_fold3.png
metric_plot_fold4.png
metric_plot_lr: warm_up.png
metric_plot_lr:1e-6.png
metric_plot_mask_bs_2.png
metric_plot_STViT.png
metric_plot.png
metrics_fold0.pkl
metrics_fold1.pkl
metrics_fold2.pkl
metrics_fold3.pkl
metrics_fold4.pkl
metrics.pkl
mosaic.sh
pred.tif
sample_generation.sh
slurm-2023867.out
slurm-2030019.out
slurm-2030020.out
slurm-2030060.out
slurm-2030066.out
slurm-2030074.out
slurm-2030076.out
stats.npz
train.sh
transformer_fold0.pth
transformer_fold1.pth
transformer_fold2.pth
transformer_fold3.pth
transformer_fold4.pth
val_result_fold0.npz
label.tif
metric_plot_doy_patch.png
metric_plot_fold0.png
metric_plot_fold1.png
metric_plot_fold2.png
metric_plot_fold3.png
metric_plot_fold4.png
metric_plot_lr: warm_up.png
metric_plot_lr:1e-6.png
metric_plot_mask_bs_2.png
metric_plot_STViT.png
metric_plot.png
metrics_fold0.pkl
metrics_fold1.pkl
metrics_fold2.pkl
metrics_fold3.pkl
metrics_fold4.pkl
metrics.pkl
mosaic.sh
pred.tif
sample_generation.sh
slurm-2023867.out
slurm-2030019.out
slurm-2030020.out
slurm-2030060.out
slurm-2030066.out
slurm-2030074.out
slurm-2030076.out
stats.npz
train.sh
transformer_fold0.pth
transformer_fold1.pth
transformer_fold2.pth
transformer_fold3.pth
transformer_fold4.pth
val_result_fold0.npz
label.tif
metric_plot_doy_patch.png
metric_plot_fold0.png
metric_plot_fold1.png
metric_plot_fold2.png
metric_plot_fold3.png
metric_plot_fold4.png
metric_plot_lr: warm_up.png
metric_plot_lr:1e-6.png
metric_plot_mask_bs_2.png
metric_plot_STViT.png
metric_plot.png
metrics_fold0.pkl
metrics_fold1.pkl
metrics_fold2.pkl
metrics_fold3.pkl
metrics_fold4.pkl
metrics.pkl
mosaic.sh
pred.tif
sample_generation.sh
slurm-2023867.out
slurm-2030019.out
slurm-2030020.out
slurm-2030060.out
slurm-2030066.out
slurm-2030074.out
slurm-2030076.out
train.sh
train.sh
logs/prediction_2011297.out
logs/prediction_2017210.out
logs/training_1962019_lr1e-4_adam.out
logs/training_1962356.out
logs/training_1963450.out
logs/training_1963515.out
logs/training_1963749.out
logs/training_1964314.out
logs/training_1964849.out
logs/training_1964858.out
logs/training_1965004.out
logs/training_1965045.out
logs/training_1965079.out
logs/training_1965646.out
logs/training_1965870.out
logs/training_1966391_STViT.out
logs/training_1966977_SPViT_Scheduler.out
logs/training_1967550.out
logs/training_1969706.out
logs/training_1972960.out
logs/training_1978726.out
logs/training_1982171.out
logs/training_1990278.out
logs/training_1990478.out
logs/training_1991256.out
logs/training_1991426.out
logs/training_20250501_newdecoder_2021688.out
logs/training_20250502_newdecoder_2023131.out
__pycache__/CommonFuncs.cpython-312.pyc
__pycache__/GlobalStats.cpython-312.pyc
__pycache__/samples_generation.cpython-312.pyc
__pycache__/transformer.cpython-312.pyc
logs/training_20250625_vit(SeasonL)_2163774.out
logs/training_20250626_vit(Season_2Sat)_2165505.out
logs/training_20250627_vitL(Season)_2165514.out
checkpoint_fold0_vit(SEASON_2Sat).pth
checkpoint_fold0_vit(SEASON_L).pth
checkpoint_fold1_vit(SEASON_L).pth
metric_plot_fold0_vit(SEASON_L).png
metric_plot_fold0_vit(SEASON).png
metric_plot_fold0_vit(SEASON2).png
metrics_fold0_vit(SEASON_L).pkl
metrics_fold0_vit(SEASON).pkl
metrics_fold0_vit(SEASON2).pkl
test_result_fold0_vit(SEASON_L).npz
train_result_fold0_vit(SEASON_L).npz
train_result_fold1_vit(SEASON_L).npz
val_result_fold0_vit(SEASON_L).npz
val_result_fold1_vit(SEASON_L).npz
.vscode/settings.json
.gitignore
val_result_fold0_swin.npz
val_result_fold0_swin(band_selection).npz
val_result_fold0_swin(Band-wise).npz
val_result_fold0_swin(BandS).npz
val_result_fold0_swin(L).npz
val_result_fold0_swin(NCE).npz
val_result_fold0_swin(SpectralLoss).npz
val_result_fold0_vit(SEASON_2Sat).npz
val_result_fold1_swin.npz
val_result_fold1_swin(band_selection).npz
val_result_fold1_swin(Band-wise).npz
val_result_fold1_swin(BandS).npz
val_result_fold1_swin(L).npz
val_result_fold1_swin(NCE).npz
val_result_fold2_swin.npz
val_result_fold2_swin(band_selection).npz
val_result_fold2_swin(Band-wise).npz
val_result_fold3_swin.npz
val_result_fold3_swin(band_selection).npz
val_result_fold4_swin.npz
train_result_fold0_swin.npz
train_result_fold0_swin(band_selection).npz
train_result_fold0_swin(Band-wise).npz
train_result_fold0_swin(BandS).npz
train_result_fold0_swin(L).npz
train_result_fold0_swin(NCE).npz
train_result_fold0_swin(SpectralLoss).npz
train_result_fold0_vit(SEASON_2Sat).npz
train_result_fold1_swin.npz
train_result_fold1_swin(band_selection).npz
train_result_fold1_swin(Band-wise).npz
train_result_fold1_swin(BandS).npz
train_result_fold1_swin(L).npz
train_result_fold1_swin(NCE).npz
train_result_fold2_swin.npz
train_result_fold2_swin(band_selection).npz
train_result_fold2_swin(Band-wise).npz
train_result_fold3_swin.npz
train_result_fold3_swin(band_selection).npz
train_result_fold4_swin.npz
test_result_fold0_swin.npz
test_result_fold0_swin(band_selection).npz
test_result_fold0_swin(Band-wise).npz
test_result_fold0_swin(BandS).npz
test_result_fold0_swin(NCE).npz
test_result_fold0_vit(SEASON_2Sat).npz
test_result_fold1_swin.npz
test_result_fold1_swin(Band-wise).npz
test_result_fold1_swin(BandS).npz
test_result_fold2_swin.npz
test_result_fold3_swin.npz
checkpoint_fold0_swin(band_selection).pth
checkpoint_fold0_swin(Band-wise).pth
checkpoint_fold0_swin(BandS).pth
checkpoint_fold0_swin(NCE).pth
checkpoint_fold0_swin(SpectralLoss).pth
checkpoint_fold1_swin(Band-wise).pth
checkpoint_fold1_swin(BandS).pth
logs/prediction_20250707_swin(L)_2178327_test.out
logs/prediction_20250707_vit(season_2sat)_test.out
logs/prediction_20250707_vit(season_2sat)_val.out
logs/prediction_20250708_swin(L)_2178695.out
logs/prediction_20250713_swin(BandS)_2195992.out
logs/training_20250702_swin_2174268.out
logs/training_20250703_swin(L)_2175373.out
logs/training_20250703_vit(season_2sat)_2175341.out
logs/training_20250703_vit(season_Large)_2175371.out
logs/training_20250705_swin(NCE)_2176305.out
logs/training_20250708_swin(band_selection)_2178765.out
logs/training_20250708_swin(BandS)_2179717.out
logs/training_20250710_swin(Band-Wise)_2192361.out
logs/training_20250714_swin(BandS)_2198228.out
logs/training_20250714_swin(Spectral)_2210583.out
training_output/loss_pics/metric_plot_fold0_swin.png
training_output/loss_pics/metric_plot_fold0_swin(band_selection).png
training_output/loss_pics/metric_plot_fold0_swin(Band-wise).png
training_output/loss_pics/metric_plot_fold0_swin(BandS).png
training_output/loss_pics/metric_plot_fold0_swin(L).png
training_output/loss_pics/metric_plot_fold0_swin(NCE).png
training_output/loss_pics/metric_plot_fold0_vit(SEASON_2Sat).png
training_output/loss_pics/metric_plot_fold1_swin.png
training_output/loss_pics/metric_plot_fold1_swin(band_selection).png
training_output/loss_pics/metric_plot_fold1_swin(Band-wise).png
training_output/loss_pics/metric_plot_fold1_swin(BandS).png
training_output/loss_pics/metric_plot_fold2_swin.png
training_output/loss_pics/metric_plot_fold2_swin(band_selection).png
training_output/loss_pics/metric_plot_fold3_swin.png
training_output/metrics/metrics_fold0_swin.pkl
training_output/metrics/metrics_fold0_swin(band_selection).pkl
training_output/metrics/metrics_fold0_swin(Band-wise).pkl
training_output/metrics/metrics_fold0_swin(BandS).pkl
training_output/metrics/metrics_fold0_swin(L).pkl
training_output/metrics/metrics_fold0_swin(NCE).pkl
training_output/metrics/metrics_fold0_vit(SEASON_2Sat).pkl
training_output/metrics/metrics_fold1_swin.pkl
training_output/metrics/metrics_fold1_swin(band_selection).pkl
training_output/metrics/metrics_fold1_swin(Band-wise).pkl
training_output/metrics/metrics_fold1_swin(BandS).pkl
training_output/metrics/metrics_fold2_swin.pkl
training_output/metrics/metrics_fold2_swin(band_selection).pkl
training_output/metrics/metrics_fold3_swin.pkl
training_output/loss_pics/metric_plot_fold0_swin.png
training_output/loss_pics/metric_plot_fold0_swin(band_selection).png
training_output/loss_pics/metric_plot_fold0_swin(Band-wise).png
training_output/loss_pics/metric_plot_fold0_swin(BandS).png
training_output/loss_pics/metric_plot_fold0_swin(L).png
training_output/loss_pics/metric_plot_fold0_swin(NCE).png
training_output/loss_pics/metric_plot_fold0_vit(SEASON_2Sat).png
training_output/loss_pics/metric_plot_fold1_swin.png
training_output/loss_pics/metric_plot_fold1_swin(band_selection).png
training_output/loss_pics/metric_plot_fold1_swin(Band-wise).png
training_output/loss_pics/metric_plot_fold1_swin(BandS).png
training_output/loss_pics/metric_plot_fold2_swin.png
training_output/loss_pics/metric_plot_fold2_swin(band_selection).png
training_output/loss_pics/metric_plot_fold3_swin.png
training_output/loss_pics/metric_plot_fold0_swin.png
training_output/loss_pics/metric_plot_fold0_swin(band_selection).png
training_output/loss_pics/metric_plot_fold0_swin(Band-wise).png
training_output/loss_pics/metric_plot_fold0_swin(BandS).png
training_output/loss_pics/metric_plot_fold0_swin(L).png
training_output/loss_pics/metric_plot_fold0_swin(NCE).png
training_output/loss_pics/metric_plot_fold0_vit(SEASON_2Sat).png
training_output/loss_pics/metric_plot_fold1_swin.png
training_output/loss_pics/metric_plot_fold1_swin(band_selection).png
training_output/loss_pics/metric_plot_fold1_swin(Band-wise).png
training_output/loss_pics/metric_plot_fold1_swin(BandS).png
training_output/loss_pics/metric_plot_fold2_swin.png
training_output/loss_pics/metric_plot_fold2_swin(band_selection).png
training_output/loss_pics/metric_plot_fold3_swin.png
training_output/metrics/metrics_fold0_swin.pkl
training_output/metrics/metrics_fold0_swin(band_selection).pkl
training_output/metrics/metrics_fold0_swin(Band-wise).pkl
training_output/metrics/metrics_fold0_swin(BandS).pkl
training_output/metrics/metrics_fold0_swin(L).pkl
training_output/metrics/metrics_fold0_swin(NCE).pkl
training_output/metrics/metrics_fold0_vit(SEASON_2Sat).pkl
training_output/metrics/metrics_fold1_swin.pkl
training_output/metrics/metrics_fold1_swin(band_selection).pkl
training_output/metrics/metrics_fold1_swin(Band-wise).pkl
training_output/metrics/metrics_fold1_swin(BandS).pkl
training_output/metrics/metrics_fold2_swin.pkl
training_output/metrics/metrics_fold2_swin(band_selection).pkl
training_output/metrics/metrics_fold3_swin.pkl
training_output/metrics/metrics_fold0_swin.pkl
training_output/metrics/metrics_fold0_swin(band_selection).pkl
training_output/metrics/metrics_fold0_swin(Band-wise).pkl
training_output/metrics/metrics_fold0_swin(BandS).pkl
training_output/metrics/metrics_fold0_swin(L).pkl
training_output/metrics/metrics_fold0_swin(NCE).pkl
training_output/metrics/metrics_fold0_vit(SEASON_2Sat).pkl
training_output/metrics/metrics_fold1_swin.pkl
training_output/metrics/metrics_fold1_swin(band_selection).pkl
training_output/metrics/metrics_fold1_swin(Band-wise).pkl
training_output/metrics/metrics_fold1_swin(BandS).pkl
training_output/metrics/metrics_fold2_swin.pkl
training_output/metrics/metrics_fold2_swin(band_selection).pkl
training_output/metrics/metrics_fold3_swin.pkl
stats_labelNone.npz
stats_modis_ANone.npz
stats_modis_QNone.npz
logs/prediction_20250722_swin(Blue)_2248099.out
logs/training_20250715_swin(SAMLoss)_2213935.out
logs/training_20250716_swin(label_scale)_2223084.out
logs/training_20250717_swin(log_scale)(1)_2224985.out
logs/training_20250717_swin(triple_scale)(1)_2225027.out
logs/training_20250718_swin(constant_scale)_2229023.out
logs/training_20250718_swin(log_scale)_2229013.out
logs/training_20250718_swin(min-max)_2230333.out
logs/training_20250718_swin(sqrt_scale)_2229358.out
logs/training_20250718_swin(triple_scale)_2229363.out
logs/training_20250719_swin(4-band)_2235727.out
logs/training_20250721_swin(2-band)_2241697.out
logs/training_20250721_swin(4-band)_2243878.out
logs/training_20250721_swin(blue)_2243772.out
loss_pics/metric_plot_fold0_swin.png
loss_pics/metric_plot_fold0_swin(2-band).png
loss_pics/metric_plot_fold0_swin(4-band).png
loss_pics/metric_plot_fold0_swin(band_selection).png
loss_pics/metric_plot_fold0_swin(Band-wise).png
loss_pics/metric_plot_fold0_swin(BandS).png
loss_pics/metric_plot_fold0_swin(Blue).png
loss_pics/metric_plot_fold0_swin(constant_scale).png
loss_pics/metric_plot_fold0_swin(L).png
loss_pics/metric_plot_fold0_swin(min-max).png
loss_pics/metric_plot_fold0_swin(NCE).png
loss_pics/metric_plot_fold0_swin(SpectralLoss).png
loss_pics/metric_plot_fold0_swin(sqrt_scale).png
loss_pics/metric_plot_fold0_swin(triple_scale).png
loss_pics/metric_plot_fold0_vit(SEASON_2Sat).png
loss_pics/metric_plot_fold1_swin.png
loss_pics/metric_plot_fold1_swin(band_selection).png
loss_pics/metric_plot_fold1_swin(Band-wise).png
loss_pics/metric_plot_fold1_swin(BandS).png
loss_pics/metric_plot_fold2_swin.png
loss_pics/metric_plot_fold2_swin(band_selection).png
loss_pics/metric_plot_fold3_swin.png
loss_pics/metric_plot_fold0_swin.png
loss_pics/metric_plot_fold0_swin(2-band).png
loss_pics/metric_plot_fold0_swin(4-band).png
loss_pics/metric_plot_fold0_swin(band_selection).png
loss_pics/metric_plot_fold0_swin(Band-wise).png
loss_pics/metric_plot_fold0_swin(BandS).png
loss_pics/metric_plot_fold0_swin(Blue).png
loss_pics/metric_plot_fold0_swin(constant_scale).png
loss_pics/metric_plot_fold0_swin(L).png
loss_pics/metric_plot_fold0_swin(min-max).png
loss_pics/metric_plot_fold0_swin(NCE).png
loss_pics/metric_plot_fold0_swin(SpectralLoss).png
loss_pics/metric_plot_fold0_swin(sqrt_scale).png
loss_pics/metric_plot_fold0_swin(triple_scale).png
loss_pics/metric_plot_fold0_vit(SEASON_2Sat).png
loss_pics/metric_plot_fold1_swin.png
loss_pics/metric_plot_fold1_swin(band_selection).png
loss_pics/metric_plot_fold1_swin(Band-wise).png
loss_pics/metric_plot_fold1_swin(BandS).png
loss_pics/metric_plot_fold2_swin.png
loss_pics/metric_plot_fold2_swin(band_selection).png
loss_pics/metric_plot_fold3_swin.png
.vscode/launch.json
logs/training_20250730_swin(f_mask_predict_cloud_7band)_2276182.out
logs/training_20250730_swin(less_cloud_nfc)_2276087.out
logs/training_20250730_swin(less_cloud)_2275283.out
logs/training_20250731_swin(f_mask_only_include_cloud)_2279311.out
logs/training_20250731_swin(min-max_2)_2279278.out
logs/training_20250804_swin(cloud_mask)_2294932.out
logs/training_20250804_swin(less_cloud_cr5)_2294695.out
logs/training_20250804_swin(spectral_attention)_2295876.out
logs/training_20250901_swin(large_dataset)_2408606.out
logs/training_20250901_swin(single_pair)_2408655.out
logs/training_20250902_swin(large_dataset)_2412508.out
loss_pics/metric_plot_fold0_swin(f_mask_2).png
loss_pics/metric_plot_fold0_swin(less_cloud_5).png
loss_pics/metric_plot_fold0_swin(less_cloud_nfc).png
loss_pics/metric_plot_fold0_swin(min-max_2).png
loss_pics/metric_plot_fold1_swin(less_cloud_5).png
loss_pics/metric_plot_fold2_swin(less_cloud_5).png
loss_pics/metric_plot_fold3_swin(less_cloud_5).png
loss_pics/metric_plot_fold4_swin(less_cloud_5).png
lc_match.sh
slurm-2382372 (bad input out of range).out
logs/training_20250903_swin(single_pair)_2415908.out
logs/training_20250904_swin(FPN_c0n1)_2420157.out
logs/training_20250904_swin(FPN_c0n1)_2420264.out
logs/training_20250910_swin(large_dataset)(0)_2460511.out
logs/training_20250912_swin(c20n3)_2462856.out
logs/training_20250914_swin(large_dataset)(1)_2474577.out
logs/training_20250914_swin(PPM_c0n1)_2475513.out
logs/training_20250915_swin(large_dataset)(2)_2479009.out
logs/training_20250916_swin(large_dataset)(3)_2483563.out
logs/training_20250917_swin(PPM_Lc0n1)(0)_2489140.out
logs/training_20250919_swin(PPM_Lc0n1)(1)_2500715.out
logs/training_20250919_swin(PPM_Lc0n1)(2)_2502607.out
logs/training_20250919_swin(PPM_Lc0n1)(3)_2505986.out
logs/training_20250919_swin(random_dataset)_2501917.out
logs/training_20250921_swin(PPM_Lc0n1)_2508545.out
logs/training_20250921_swin(SSA_Sc0n1)_2519045.out
loss_pics/metric_plot_fold0_swin(end_fusion).png
loss_pics/metric_plot_fold0_swin(FPN).png
loss_pics/metric_plot_fold0_swin(PPM_c0n1).png
loss_pics/metric_plot_fold0_swin(random_dataset).png
loss_pics/metric_plot_fold1_swin(end_fusion).png
loss_pics/metric_plot_fold1_swin(FPN).png
loss_pics/metric_plot_fold2_swin(end_fusion).png
loss_pics/metric_plot_fold2_swin(FPN).png
cpu_submit.sh
logs/training_20250926_swin(SSAP_LRc0n1)_2544171.out
logs/training_20250921_swin(SSA_LSc0n1)(0)_2519045.out
loss_pics/metric_plot_fold0_swin(PPM_LC0n1).png
logs/training_20250929_swin(SSA_LRc0n1)(1)_2555134.out
logs/training_20251004_swin(free_cloud)(0)_2582044.out
logs/training_20251005_swin(free_cloud)_2590431.out
logs/training_20251006_SwinSTFM_2590503.out
logs/training_20251010_swin(update)_2608918.out
logs/training_20251011_swin(update_FPN)_2610772.out
logs/training_20251022_swin(no_cnn_residual)_2668767.out
logs/training_20251022_swin(no_cnn)_2668726.out
logs/training_20251022_swin(sr_mask)_2667724.out
logs/training_20251026_swin(progressive_sr)_2695336.out
logs/training_20251027_swin(multi-level_fusion)_2698567.out
logs/training_20251029_swin(multi-level_fusion)_2705700.out
logs/training_20251031_swin(landsat_enhance)_2717003.out
logs/training_20251031_swin(multi-level_fusion)_2716885.out
logs/training_20251101_swin(cross_attention)_2721559.out
logs/training_20251101_swin(single_image)_2721532.out
logs/training_20251103_swin(pure_swin_x_64)_2732210.out
logs/training_20251103_swin(pure_swin_x_96)_2732220.out
logs/training_20251104_swin(BandBalance)_2738780.out
logs/training_20251104_swin(CNN_Residual)_2738719.out
logs/training_20251104_swin(CNN_SpectalAttention)_2738708.out
logs/training_20251104_swin(FF_gate_constrain)_2738686.out
logs/training_20251104_swin(tanh)_2738649.out
logs/training_20251105_swin(CNN_128_64)_2742719.out
logs/training_20251105_swin(sigmoid)_2742755.out
logs/training_20251107_swin(basic_loss)_2757348.out
logs/training_20251107_swin(complete_loss)_2757391.out
logs/training_20251107_swin(smooth_loss)_2757361.out
logs/training_20251107_swin(spectral_loss)_2757386.out
logs/training_20251107_swin(stage_baseline)_2755428.out
logs/training_20251109_swin(final_loss)_2764088.out
logs/training_20251110_SwinSTFM_2769290.out
losses/__pycache__/__init__.cpython-312.pyc
losses/__pycache__/edge_consistent_loss.cpython-312.pyc
losses/__pycache__/FusionLoss.cpython-312.pyc
losses/__pycache__/physical_guided_loss.cpython-312.pyc
losses/__pycache__/smooth_loss.cpython-312.pyc
losses/__pycache__/spectral_feature_consistent_loss.cpython-312.pyc
loss_pics/metric_plot_fold0_swin(free_cloud).png
loss_pics/metric_plot_fold0_swin(update_FPN).png
loss_pics/metric_plot_fold0_swin(update).png
loss_pics/metric_plot_fold0_SwinSTFM.png
loss_pics/metric_plot_swin(BandBalance).png
loss_pics/metric_plot_swin(basic_loss).png
loss_pics/metric_plot_swin(CNN_128_64).png
loss_pics/metric_plot_swin(CNN_Residual).png
loss_pics/metric_plot_swin(CNN_SpectralAttention).png
loss_pics/metric_plot_swin(CrossAttention).png
loss_pics/metric_plot_swin(FF_gate_constrain).png
loss_pics/metric_plot_swin(landsat_enhance).png
loss_pics/metric_plot_swin(multi-level_fusion).png
loss_pics/metric_plot_swin(progressive_sr).png
loss_pics/metric_plot_swin(PureSwin_x_92).png
loss_pics/metric_plot_swin(PureSwin_x_96).png
loss_pics/metric_plot_swin(sigmoid).png
loss_pics/metric_plot_swin(single_image).png
loss_pics/metric_plot_swin(smooth_loss).png
loss_pics/metric_plot_swin(spectral_loss).png
loss_pics/metric_plot_swin(stage_baseline).png
loss_pics/metric_plot_swin(tanh).png
__pycache__/metrics.cpython-312.pyc
__pycache__/train_large.cpython-312.pyc
__pycache__/TrainDataLoader.cpython-312.pyc
__pycache__/Trainer.cpython-312.pyc
Backbone/__pycache__/__init__.cpython-312.pyc
Backbone/__pycache__/SwinTransformer_compare.cpython-312.pyc
Backbone/__pycache__/SwinTransformer_new.cpython-312.pyc
Backbone/__pycache__/SwinTransformer_v2.cpython-312.pyc
Backbone/__pycache__/SwinTransformer_v3.cpython-312.pyc
Backbone/__pycache__/SwinTransformer_v4.cpython-312.pyc
Backbone/SwinTransformer.py
Benchmark/ESTARFM/ESTARFM_FAST.py
check_funcs.py
Benchmark/ESTARFM/__pycache__/ESTARFM.cpython-312.pyc
Benchmark/ESTARFM/__pycache__/utils.cpython-312.pyc
results/dataset_size.out
results/slurm-ESTARFM.out
results/slurm-SwinSTFM.out
losses/__pycache__/spectral_angle_loss.cpython-312.pyc
loss_pics/metric_plot_swin(add_bias).png
loss_pics/metric_plot_swin(final_loss).png
loss_pics/metric_plot_swin(New_Tanh).png
loss_pics/metric_plot_swin(No_gatecontrol).png
loss_pics/metric_plot_swin(No_PPM).png
loss_pics/metric_plot_swin(stage_baseline_tanh).png
loss_pics/metric_plot_SwinSTFM.png
PostProcess/BNS.png
PostProcess/CN-Dan.png
logs/training_20251107_swin(stage_baseline_sigmoid)_2755428.out
logs/training_20251110_Swin(stage_baseline_tanh)_2770083.out
logs/training_20251113_SwinSTFM_2790077.out
logs/training_20251116_swin(final_stage_tanh)_2803794.out
logs/training_20251117_swin(stage_baseline)_2807612.out
logs/training_20251120_swin(add_bias)_2824745.out
logs/training_20251121_swin(New_Tanh)_2829172.out
logs/training_20251121_swin(No_gatecontrol)_2829211.out
logs/training_20251121_swin(No_PPM)_2838789.out
logs/training_20251123_swin(FF_Interpolate)_2838897.out
logs/training_20251124_swin(end_fusion)_2840554.out
logs/training_20251124_swin(time_mean)_2840595.out
Inference/__pycache__/DataLoader.cpython-312.pyc
Inference/__pycache__/InferenceDataLoader.cpython-312.pyc
Inference/logs/inference_2791292.out
Inference/logs/inference_2791296.out
Inference/logs/inference_2791418.out
Inference/logs/inference_2791425.out
Inference/logs/inference_2791292.out
Inference/logs/inference_2791296.out
Inference/logs/inference_2791418.out
Inference/logs/inference_2791425.out
Inference/inference.sh
